$siteBgColorDark: #0d1117;
$sidebarBgColorDark: #171c22;
$textColorDark: #c9d1d9;
$sidebarTextColorDark: #f0f6fc;
$headlineColorDark: #8b949e;
$headingColorDark: #c9d1d9;
$bodyLinkColorDark: #58a6ff;
$navLinkColorDark: #ffffff;
$sidebarLinkColorDark: #58a6ff;
$footerTextColorDark: #8b949e;
$buttonTextColorDark: #ffffff;
$buttonHoverTextColorDark: #FFFFFF;
$buttonBgColorDark: #238636;
$buttonHoverBgColorDark: #3fb950;
$borderColorDark: #30363d;

