
// set your custom colors here
$siteBgColorCustom: #f2f2f1;
$sidebarBgColorCustom: #FFFFFF;
$textColorCustom: #404040;
$sidebarTextColorCustom: #2c2857;
$headlineColorCustom: #516DB0;
$headingColorCustom: #516DB0;
$bodyLinkColorCustom: #2c2857;
$navLinkColorCustom: #516DB0;
$sidebarLinkColorCustom: #2c2857;
$footerTextColorCustom: #706E6C;
$buttonTextColorCustom: #FFFFFF;
$buttonHoverTextColorCustom: #FFFFFF;
$buttonBgColorCustom: #516DB0;
$buttonHoverBgColorCustom: #2c2857;
$borderColorCustom: #B4C0DD;



// set your Dark colors here
$siteBgColorDark: #002b36;
$sidebarBgColorDark: #586E75;
$textColorDark: #eee8d5;
$sidebarTextColorDark: #FDF6E3;

$headlineColorDark: #F78C6B;
$headingColorDark: #F0BCD5;

$bodyLinkColorDark: #F0BCD5;
$navLinkColorDark: #F0BCD5;
$sidebarLinkColorDark: #2AA198;

$footerTextColorDark: #FDF6E3;

$buttonTextColorDark: #073642;
$buttonHoverTextColorDark: #073642;
$buttonBgColorDark: #F0BCD5;
$buttonHoverBgColorDark: #0AB594;
$borderColorDark: #0AB594;