// set your Dark colors here
$siteBgColorDark: #0d1117;
$sidebarBgColorDark: #171c22;
$textColorDark: #c9d1d9;
$sidebarTextColorDark: #f0f6fc;
$headlineColorDark: #8b949e;
$headingColorDark: #c9d1d9;
$bodyLinkColorDark: #58a6ff;
$navLinkColorDark: #ffffff;
$sidebarLinkColorDark: #58a6ff;
$footerTextColorDark: #8b949e;
$buttonTextColorDark: #ffffff;
$buttonHoverTextColorDark: #FFFFFF;
$buttonBgColorDark: #238636;
$buttonHoverBgColorDark: #3fb950;
$borderColorDark: #30363d;




$siteBgColorCustom: #e8f0ef;
$sidebarBgColorCustom: #fff;
$textColorCustom: #0f0e0e;
$sidebarTextColorCustom: #22404C;
$headlineColorCustom: #22404C;
$headingColorCustom: #22404C;
$bodyLinkColorCustom: #107685;
$navLinkColorCustom: #2C2C2C;
$sidebarLinkColorCustom: #2c2857;
$footerTextColorCustom: #2C2C2C;
$buttonTextColorCustom: #fff;
$buttonHoverTextColorCustom: #fff;
$buttonBgColorCustom: #107685;
$buttonHoverBgColorCustom: #14303C;
$borderColorCustom: #76B0B9;
